body {
  font-family: "Nunito", sans-serif;
  text-align: center;
  color: #2D2A36;
  background-color: #F6F6f6;
}

nav {
  background-color: #9fc088;
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: 0.1em;
  padding-top: 50px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-family: "Bebas Neue", sans-serif;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  padding-top: 25px;
  padding-bottom: 25px;
}

.memoji {
  text-align: center;
  max-width: 350px;
}

.about {
  padding-top: 50px;
}

.technologies {
  padding: 50px 50px;
}

.tech-icon {
  width: 50px;
  font-size: 50px;
  padding-bottom: 50px;
}

.learn-more {
  background-color: #9fc088;
  margin: 0 auto;
  padding-top: 20px;
}
.index-contact {
  margin: 25px;
  max-width: 200px;
}
.contact-button {
  border: none;
  border-radius: 25px;
  padding: 20px;
}



.screenshot{
  max-width: 80%

  }
  
  .grow img{
    transition: 1s ease;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    }
  

    .about-memoji{
      max-width: 90%;
    }

    .about-text{
      text-align: left;
    }
    
    .certificates{
      margin-bottom: 50px;
    }

    .certificate {
      max-width: 80%;
    }

    .cv-button{
      margin: 0 auto;
      margin-bottom: 50px;
      max-width: 30%;
      border-radius: 50px;
      border: none;
      background-color: #9fc088;
    
    }

    .contact-memoji{
      max-width: 60%;
    }