body {
  font-family: 'Roboto', sans-serif;
  color: #2D2A36;
  background-color: #F6F6f6;
}


.titlebox {
  background-color: #ffebce;
  animation-name: colourchange;
  animation-duration: 15s;
  
}


.home-icon {
  font-size: 30px;
}

@keyframes colourchange {
  0%   {background-color:#ffebce; }
  25%  {background-color:#ffebce }
  50%  {background-color:#e1ffd1; }
  75%  {background-color:#ffd7ea; }
  100% {background-color:#ffd7ea;}
}

.hello-title{
  display: flex;
  padding-top: 12.5rem;
  padding-bottom: 6rem;
  padding-right: 150px;
  justify-content: center;
  
  
  
 }

h1 {

  font-size: 80px;
  font-weight: bold;
  padding-top: 50px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-weight: 300;
}

h3 {
  
  padding-top: 25px;
  padding-bottom: 25px;
}

.work-title{
  font-weight: 400
}

.memoji {
  text-align: center;
  max-width: 300px;
}

.about, .work-title {
  padding-top: 50px;
  padding-left: 6rem;
  padding-right: 5rem;
}

.work-font{
  font-weight: 500;
}


.index-contact {
  margin: 25px;
  max-width: 200px;
}
.contact-button {
  border: none;
  border-radius: 25px;
  padding: 20px;
}



.screenshot{
  max-width: 80%

  }
  
  .grow img{
    transition: 1s ease;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    }
  

    .about-memoji{
      max-width: 90%;
    }

    .about-text{
      text-align: left;
    }
    
    .certificates{
      margin-bottom: 50px;
    }

    .certificate {
      max-width: 80%;
    }

    .contact-memoji{
      max-width: 20%;
    }

    #work{
      font-weight: 500;
    }